<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authority.mapper.DdMapper">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		dmlx,
		dm,
		dmms,
		lxms
	</sql>
	
	 <select id="isExist" parameterType="Map" resultType="com.authority.entity.DdFormMap">
		select <include refid="selectId" /> from ly_dd
		<where>
			<if test="dmlx != null and dmlx != ''">
				and dmlx = #{dmlx}
			</if>
			<if test="dm != null and dm != ''">
				and dm = #{dm}
			</if>
		</where>
	</select>
	
</mapper>